<?xml version="1.0"?>
<model>
  <name>iris feima</name>
  <version>1.0</version>
  <sdf version='1.5'>iris_feima.sdf</sdf>

  <author>
   <name>ZhangFeng</name>
   <email>2279255563@qq.com</email>
  </author>

  <description>
    This is a model of the 3DR Iris Quadrotor. The original model has been created by
    Thomas Gubler and is maintained by Lorenz Meier.
  </description>
</model>
